.question-one {
    border: 1px solid red;
}

.question-two {
    border: 1px solid green;
}

.question-three {
    border: 1px solid blue;
    margin: 10px;
}

.question-four {
    border: 1px dotted black;
    padding: 9px;
}

.question-five {
    border: 10px double black;

}

.question-six {
    border: 10px double green;
    padding: 5px;
    
}
